.card-hover {
  img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.card-hover-new {
  .hover-img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    .hover-img {
      transform: scale(1.1);
    }
  }
}

.category-card {
  height: 540px;

  @include media-breakpoint-down(lg) {
    height: 375px;
  }

  &:hover {
    button {
      opacity: 0.5;
    }
  }

  .card-inner-content {
    padding: 0 34px 27px 37px;

    @include media-breakpoint-down(lg) {
      padding: 0 17px 20px 17px;

      button {
        height: 46px;
        width: 46px;

        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  .hover-media {
    display: none;
  }

  &:hover {
    .category-img {
      display: none;
    }

    .hover-media {
      display: block;
    }
  }
}

.video-card-main {
  .video-card {
    height: 325px;

    @include media-breakpoint-down(lg) {
      height: 244px;
    }
  }

  &:hover {
    button {
      opacity: 0.5;
    }
  }
}

.why-choose-card {
  .icon-bg {
    background-color: rgba(255, 255, 255, 0.2);
    width: 95px;
    height: 95px;
  }
  .light-bg{
    width: 95px;
    height: 95px;
    background-color: rgba($color: #010141, $alpha: 0.2);
  }
}

.testimonials {
.testimonial-card{
    &:nth-child(3n + 2){
        margin-top: -20px;
        @include media-breakpoint-down(lg){
            margin-top: 0px;
        }
    }
}
  .testimonal-cards {
    height: fit-content;
  
    .testimonal-card {
      padding: 35px 35px 40px;

      @include media-breakpoint-down(lg) {
        padding: 55px 34px 45px;
      }

      .rating-icon {
        height: 15px;
      }
    }
  }
}

.bg-testimonial-layer {
  height: 363px;
  background-image: linear-gradient(180deg, #1e22aa00, #010141);
}

.banner-img-digital {
  height: 600px;

  @include media-breakpoint-down(lg) {
    height: 308px;
  }
}

.next-solution-img {
  height: 458px;

  @include media-breakpoint-down(lg) {
    height: 334px;
  }

  .next-solution-content {
    padding: 30px 36px;

    button {
      width: 53px;
      height: 53px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include media-breakpoint-down(lg) {
      padding: 37px 27px;

      button {
        width: 53px;
        height: 53px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.case-study-img {
  height: 506px;

  @include media-breakpoint-down(lg) {
    height: 355px;
    transform: scale(1.05);
  }

  &:hover {
    button {
      opacity: 0.5;
    }
  }
}

.author-details {
  .author-img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-right: 25px;
  }
}

.video-archive {
  height: 520px;

  @include media-breakpoint-down(lg) {
    height: 315px;
    transform: scale(1.05);
  }

  &:hover {
    button {
      opacity: 0.5;
    }
  }
}

.video-archive-slider {
  height: 630px;

  @include media-breakpoint-down(lg) {
    height: 265px;
    transform: scale(1.05);
  }
}

.blog-archive-img {
  height: 660px;

  @include media-breakpoint-down(lg) {
    height: 315px;
    transform: scale(1.05);
  }
}

.hero-sections-product {
  .hero-main-img {
    height: 660px;

    @include media-breakpoint-down(lg) {
      height: 308px;
    }

    &:hover {
      button {
        opacity: 0.5;
      }
    }
  }
}

.single-vacancies {
  padding-top: 36px;
  padding-bottom: 18px;

  @include media-breakpoint-down(lg) {
    padding-top: 25px;
    padding-bottom: 28px;
  }

  &:hover {
    button {
      img {
        opacity: 0.5;
      }
    }
  }

  .next-vacancies {
    width: 35px;
    height: 35px;

    @include media-breakpoint-down(lg) {
      width: 47px;
      height: 47px;
    }
  }
}